//@use "./stylesheets/vars" as vars;

$default-page-height: 100vh; // how does this work?

// variables defining colors
$default-red: #ff2740;
$default-white: #fff;
$default-black: #000;
$default-light-gray: #e7e7eb;
$default-dark-gray: #474040;//#808080;

// variables defining font
$login-page-font-size: 15px;
$login-page-font-family: Arial, Helvetica, sans-serif;

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

// Login Page Specific classes
body {
  margin: 0;
}

.login {
  &-layout {
    display: grid;
    align-items: center;
    justify-content: center;
    height: $default-page-height;
  }

  &-container {
    display: grid;
  }

  &-button {
    background-color: $default-red;
    color: $default-white;
    padding: 0.8em 4.5em;
    text-decoration: none;
    border-radius: 0.4em;
    font-family: $login-page-font-family;
    font-size: $login-page-font-size;
  }

  &-input {
    border: 2px solid $default-light-gray;
    color: $default-dark-gray;
    padding: 0.8em 4.5em;
    border-radius: 0.4em;
    font-family: $login-page-font-family;
    text-align: center;
    font-size: $login-page-font-size;
  }

  &-input:focus {
    outline: none;
  }
}

// Chat Page Specific classes
.chat-page-layout {
  width: 100%;
  min-height: $default-page-height;
  display: grid;
  grid-template-columns: minmax(105px, 25%) auto;
  font-family: $login-page-font-family;
}

.rooms-container {
  display: flex;
  flex-direction: column;
  background-color: $default-red;
}

.sidebar {
  background-color: $default-red;
}

.room-buttons {
  text-align: left;
  padding: 2.2vw 3vw 2.2vw 3vw; // t r b l
  text-decoration: none;
}

.main-body {
  display: grid;
  grid-template-rows: 15% auto 10%;
}

.user-info-container {
  padding: 36px 3vw 46px 3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-container {
  display: flex;
  column-gap: 15px;
  padding: 18px;

  input {
    flex-grow: 2;
  }
}

.header {

  &-container {
    display: grid;
    //grid-template-rows: 100% 100%;
    padding: 36px;//8.5vw;
    text-align: center;
    row-gap: 15px;
    color: $default-dark-gray;
  }
  
  &-room-name {
    font-size: 20px;
  }

  &-users-list {
    font-size: 10px;
  }
}

.messages-container {
  background-color: $default-light-gray;
}

.message-instance {
  display: grid;
  row-gap: 10px;
  padding: 15px;

  &-content {
    background-color: white;
    padding: 10px;
    border: 1px $default-white solid;
    border-radius: 20px;
    width: fit-content;
    font-size: 16px;
    color: $default-dark-gray;

    @include for-phone-only {  // mobile
      font-size: 12px;
    }
  }

  &-username {
    color: $default-dark-gray;
    font-size: 14px;

    @include for-phone-only {  // mobile
      font-size: 10px;
    }
  }
}

// Toolkit classes
.margin {
  &-bottom-one {
    margin-bottom: 4px;
  }
  &-bottom-two {
    margin-bottom: 8px;
  }
  &-bottom-three {
    margin-bottom: 12px;
  }
}

.text-color {
  &-red {
    color: $default-red;
  }
  &-white {
    color: $default-white;
  }
  &-black {
    color: $default-black;
  }
  &-light-gray {
    color: $default-light-gray;
  }
  &-dark-gray {
    color: $default-dark-gray;
  }
}

.background-color {
  &-red {
    background-color: $default-red;
  }
  &-white {
    background-color: $default-white;
  }
  &-black {
    background-color: $default-black;
  }
  &-light-gray {
    background-color: $default-light-gray;
  }
  &-dark-gray {
    background-color: $default-dark-gray;
  }
}

.border-theme {
  &-no-border {
    border: none;
  }
}


// Revisit do I need rem here? 
.text-size {
  &-100 {
    font-size: 0.5rem; // desktop

    @include for-tablet-portrait-up { // tablet
      font-size: 0.5rem;
    }

    @include for-phone-only {  // mobile
      font-size: 0.5rem;
    }
  }
  &-200 {
    font-size: 1rem; // desktop

    @include for-tablet-portrait-up { // tablet
      font-size: 1rem;
    }

    @include for-phone-only {  // mobile
      font-size: 1rem;
    }
 
  }
  &-400 {
    font-size: 1.5rem; // desktop

    @include for-tablet-portrait-up { // tablet
      font-size: 1.5rem;
    }

    @include for-phone-only {  // mobile
      font-size: 1.5rem;
    }
  }
}

.text-font-weight {
  &-bold {
    font-weight: bold;
  }
  &-bolder {
    font-weight: bolder;
  }
}
